body{
  background-image: url("https://media.istockphoto.com/photos/food-backgrounds-table-filled-with-large-variety-of-food-picture-id1155240408?k=6&m=1155240408&s=612x612&w=0&h=SEhOUzsexrBBtRrdaLWNB6Zub65Dnyjk7vVrTk1KQSU=");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

form {
  border: 10px solid rgba(248, 109, 84, 0.945);
}



input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}



.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: rgba(248, 109, 84, 0.945);
  
  border-radius: 5px;
}


.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

.anotherCbtn{
    text-decoration: none;
    color: white;
}


img.avatar {
  width: 40%;
  border-radius: 50%;
}


.container {
  padding: 16px;
}


span.psw {
  float: right;
  padding-top: 16px;
}


@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}